<div class="container">
  <h3 class="left">{{page_title}}  </h3>
  <app-header></app-header>
  <div class="container">
    <br>

    <p>We organize fashion events to build a communication channel for designers, manufacturers, marketing specialist, media specialist.
    <br>
    We help our members to lounge their brand and increase market exposure and new business.
    <br> We provide our members and partners with opportunities for business development through inclusion on Find-a-Designer and specific matchmaking events.
    </p>

    <p>If you specialize in or are interested in graphic design, computer, marketing, event planning, media lighting, stge installation, DJ, photographer, video/audio proction... Please contact us now
    </p>

    <p>If you are a student, internship is available</p>
    <div class="col-md-6">
      <div class="card mb-6 shadow-sm">
        <div class="card-body">
        <p>  1. Lawyer</p>
          <small>Job Description</small>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-6 shadow-sm">
        <div class="card-body">
        <p>2. Event Photographer</p>
          <small>Job Description</small>
        </div>
      </div>
    </div>
  </div>
</div>
