<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div>
        <div *ngIf="returnedRes" class="alert alert-danger">
          <p>{{returnedMess}}</p>
        </div>
        <div *ngIf="display">
          <form class="form-horizontal" (ngSubmit)="onSubmit()" #reset="ngForm">
            <div class="form-group">
              <label for="password">New password:</label>
              <input type="password" class="form-control"
              [(ngModel)]="user.password" name="password" id="password" required #name="ngModel"/> <br />
            </div>
            <button type="submit"  class="btn btn-lg btn-block btn-success" [disabled]="!reset.form.valid">Reset</button>
          </form>
        </div>
      </div>
    </div>

  </div>

</div>
