<main class="container">
  <div class="blog-two">
    <div class="row">

      <!-- Sidebar column -->
      <div class="col-md-2">
        <!-- Sidebar -->
        <div class="sidebar">
          <!-- Categories Widget -->
          <div class="s-widget">
            <!-- Heading -->
            <h5><i class="fa fa-folder color"></i>&nbsp; Categories</h5>
            <!-- Widgets Content -->
            <div class="widget-content categories">
              <ul class="list-6">
                <li><a routerLink="/admin/index">Users</a></li>
                <li><a routerLink="/admin/newsIndex">News</a></li>
                <li><a routerLink="/admin/event">Events</a></li>
                <li><a routerLink="/admin/calendar">Calendar</a></li>
                <li><a routerLink="/logout">Logout</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>


      <!-- Mainbar column -->
      <div class="col-md-10">
        <app-calend></app-calend>
      </div>
</div>
</div>
</main>
