<div class="container">
  <h3 class="left">{{page_title}}</h3>
  <div class="row">
    <div class="col-md-12">
      <p>is to provide designers to express their beliefs in what other designers make</p>
      <p>Their belief and values are translated into their product, and our mission is to empower every designer
      and every organization to achieve their goal.</p>

      <p>Our ideals is to promote and increase designer's level of success and focus on the customer experience
      and providing the highest levels of customer service.</p>

      <h4>The bridge between design and business</h4>

      <h6>CONTACT US</h6>
      <label for="Email">Email:</label>
      123456@gmail.com

    </div>
  </div>
</div>
