<main>
  <div class="container">

            <div class="block-heading-two">
              <h3><span>{{page_title}}</span></h3>
            </div>

            <div class="row">
              <div class="col-md-4 col-sm-6">
                <p>is to provide designers to express their beliefs in what other designers make</p>
                <p>Their belief and values are translated into their product, and our mission is to empower every designer
                and every organization to achieve their goal.</p>

                <p>Our ideals is to promote and increase designer's level of success and focus on the customer experience
                and providing the highest levels of customer service.</p>
                <br />
              </div>
              <div class="col-md-4 col-sm-6">
                <h5>The bridge between design and business</h5>
                <p>Lorem ipsum dolor consectetursit amet, consectetur adipiscing elit consectetur euismod ed  euismod  adipiscing elit sapien. Donec eu feugiat enim,  tempus arcu. </p>
                <h6>Graphic Designing</h6>
                <div class="progress pb-sm">
                  <!-- White color (progress-bar-white) -->
                  <div class="progress-bar progress-bar-red" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                   <span class="sr-only">40% Complete (success)</span>
                  </div>
                </div>
                <h6>Photography</h6>
                <div class="progress pb-sm">
                  <div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                   <span class="sr-only">40% Complete (success)</span>
                  </div>
                </div>
                <h6>Money Making</h6>
                <div class="progress pb-sm">
                  <div class="progress-bar progress-bar-lblue" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                   <span class="sr-only">40% Complete (success)</span>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-6">
                <h6>CONTACT US</h6>
                <div class="text-center">
                  <img src="./../../assets/img/rev-slider/mockup1.png" alt="" class="img-responsive" />
                </div>
                <br>
                <label for="Email">Email:</label>
                123456@gmail.com
                <br />
              </div>
            </div>

  </div>
</main>
