<div class="container">
  <h3 class="left">{{page_title}}</h3>
  <div class="row">
    <div class="col-md-6">
      <div class="card mb-4 shadow-sm">

        <div class="card-body">
          <h4 class="card-text">Sponsor</h4>
          <p><a href="">Sponsorship Letters</a></p>
          <p><a href="">Sponsorship Levels</a></p>
          <p><a href="">Sponsorship Agreements</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-4 shadow-sm">

        <div class="card-body">
          <h4 class="card-text">Media Cooperation</h4>
          <p>We welcome all kinds of media to contact us</p>
        </div>
      </div>
    </div>
  </div>

  <div class="divider-1"></div>
  <div class="block-heading-two text-center">
    <h3><span>Strategic Partners</span></h3>
  </div>
  <!-- Client One Starts -->
  <br />

  <div class="col-md-10 offset-md-1">
    <div class="client-one">
      <owl-carousel [options]="myCarouselOptions" [items]="images" [carouselClasses]="['owl-theme', 'sliding']" >
        <div class="cl-item" *ngFor="let image of myCarouselImages;let i = index">
          <a href="#"><img src="{{image}}" alt=""  class="img-responsive" /></a>
         </div>
      </owl-carousel>
      <owl-carousel [options]="myCarouselOptions" [items]="images" [carouselClasses]="['owl-theme', 'sliding']" >
        <div class="cl-item" *ngFor="let image of myCarouselImages;let i = index">
          <a href="#"><img src="{{image}}" alt=""  class="img-responsive" /></a>
         </div>
      </owl-carousel>
      <owl-carousel [options]="myCarouselOptions" [items]="images" [carouselClasses]="['owl-theme', 'sliding']" >
        <div class="cl-item" *ngFor="let image of myCarouselImages;let i = index">
          <a href="#"><img src="{{image}}" alt=""  class="img-responsive" /></a>
         </div>
      </owl-carousel>
    </div>
  </div>
</div>
