<div class="container">
  <h3 class="left">{{page_title}}</h3>
  <div class="row">
    <div class="col-md-6">
      <div class="card mb-4 shadow-sm">

        <div class="card-body">
          <h4 class="card-text">Sponsor</h4>
          <p>Sponsorship Letters</p>
          <p>Sponsorship Levels</p>
          <p>Sponsorship Agreements</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-4 shadow-sm">

        <div class="card-body">
          <h4 class="card-text">Media Cooperation</h4>
          <p>We welcome all kinds of media to contact us</p>
        </div>
      </div>
    </div>
  </div>
    <h3 class="">Main Sponsor</h3>
  <div class="row">
    <div class="col-md-12 align-items- secenter">
      <div class="card">
        <img class="card-img-top" src="./../../assets/img/placeholders/358x244.jpg" alt="Card image cap">
      </div>
    </div>
  </div>
</div>
