<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div>
        <div class="row float-right">
        <a class="btn btn-color" routerLink="/designer">Go Back</a>
        </div>
        <div class="row">
          <p></p>
        </div>
         <h3 class="text-primary">Upload Gallery Pictures <small>max of 9 | max size: 2MB</small> </h3>
        <form  #signupForm="ngForm" (ngSubmit)="onSubmit()">
          <div>
            <img *ngFor="let url of urls" [src]="url" class="rounded mb-3" width="180">
        </div>
          <span style="color: #0D7C15;"><label class="btn btn-primary upload-btn" style="background: #0D7C15;margin-right: 10px;">
              Upload file<input type="file" name="image[]" hidden multiple (change)="onFileSelected($event)">
          </label>
          </span>
          <button type="button" class="btn btn-secondary" (click)="onUpload()">Upload</button>
        </form>
    </div>

    </div>

  </div>

</div>
