<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="row">
        <div class="col-md-12" *ngIf="news.title">
          <h3>{{news.title}}</h3>
          <ul class="products"  style="list-style: none;padding:0;">
            <li class="crop">
              <img src="./../../uploads/news/{{news.image}}" class="img-responsive" />
            </li>
          </ul>
          <div class="clearfix">
          <p>{{news.body}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
