<div class="container">
  <h3 class="left">{{page_title}}</h3>
  <div class="row">

      <a href="https://rave.flutterwave.com/donate/c0zfynffcxfj"> donate now</a>
    <!--<angular-rave
    [PBFPubKey] = "'FLWPUBK-XXXXXXXXXXXX'"
    [customer_email] = "'olayanju04@gmail.com'"
    [customer_phone] = "'07066859921'"
    [amount]="5"
    [custom_title]="'Bill Payment'"
    [txref]="'USR1295950'"
    (callback)="paymentSuccess($event)"
    (close)="paymentFailure()"
  ></angular-rave>-->
  </div>
</div>
