<div class="container">
  <div class="page-heading-two">
    <h2>{{page_title}}</h2>
    <div class="clearfix"></div>
  </div>
  <div class="">
    <!--<angular-rave
    [PBFPubKey] = "'FLWPUBK-XXXXXXXXXXXX'"
    [customer_email] = "'olayanju04@gmail.com'"
    [customer_phone] = "'07066859921'"
    [amount]="5"
    [custom_title]="'Bill Payment'"
    [txref]="'USR1295950'"
    (callback)="paymentSuccess($event)"
    (close)="paymentFailure()"
  ></angular-rave>-->
  </div>
</div>

<div class="container">

  <!-- Actual content for donation form -->
  <div class="non-profit">
    <div class="row">
      <div class="col-md-5 col-sm-5">
        <!-- Donation sidebar -->
        <div class="block-heading-two">
          <h3><span>Every $ Makes A Difference</span></h3>
        </div>

        <img src="./../../assets/img/magazine/small/2.jpg" class="img-responsive img-thumbnail" alt=""/>


      </div>
      <div class="col-md-7 col-sm-7">
        <!-- Donation form -->
        <div class="np-donation">
          <!-- heading -->
          <div class="block-heading-two">
            <h3><span>Your Donation Helps</span></h3>
          </div>
          <p>Lorem ipsum dolor sit amet, conse ctetur adipi icing elit, sed do eiusmod tempor in ididunt ut labore et itation iquip ex ea commo it si ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, conse ctetur adipi icing elit, sed do eiusmod tempor in ididunt ut labore et itation  consequat.</p>
          <h5 class="text-info">You can also Donate with your PayPal account, Just Click the PayPal Button. <br /> Otherwise, Fill the Form and Select Your Card Type To Continue</h5>
          <a routerLink="/about" class="btn btn-white pull-right">Contact Now</a>
          <div class="clear-fix"></div>
          <form role="form">
            <div class="form-group">
             <label for="inputname">Your Name <small>Card Payment Only</small></label>
             <input type="text"  ([ngModel])="donor.name" class="form-control" id="inputname" placeholder="Enter name">
            </div>
            <div class="form-group">
             <label for="exampleInputEmail1">Email address</label>
             <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
            </div>
            <div class="form-group">
             <label for="inputphone">Phone Number</label>
             <input type="text" ([ngModel])="donor.phone" class="form-control" id="inputphone" placeholder="Enter Phone No.">
            </div>
            <div class="form-group">
             <label>Address</label>
             <textarea class="form-control" rows="4"></textarea>
            </div>
            <div class="form-group">
             <label for="inputamount">Amount</label>
             <input type="number" ([ngModel])="donor.donation" class="form-control" id="inputamount" placeholder="$ 0.00">
            </div>
            <hr />
            <!-- <h5>Credit Card Details</h5>
            <div class="form-group">
             <label>Card Type</label>
             <select class="form-control">
               <option>Card Type</option>
               <option>MasterCard</option>
               <option>Visa</option>
               <option>American Express</option>
               <option>DinarClub</option>
             </select>											 
            </div>
            <div class="form-group">
             <label for="inputcardnumber">Credit Card Number</label>
             <input type="text" class="form-control" id="inputcardnumber" placeholder="Card Number">
            </div>
            <div class="form-group">
             <label for="inputdate">Expiry Date</label>
             <input type="text" class="form-control" id="inputdate" placeholder="Enter Expiry Date">
            </div>
            <div class="form-group">
             <label for="inputccv">CCV</label>
             <input type="text" class="form-control" id="inputccv" placeholder="Enter CVV Number">
            </div>										   -->
          </form>
          <ngx-paypal [config]="payPalConfig"></ngx-paypal>
        </div>
      </div>
    </div>
  </div>

</div>
