
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="table-responsive">
        <table class="table table-hover table-sm">
          <caption>List of Users</caption>
          <thead class="thead-light">
            <th scope="col">S/N</th>
            <th scope="col">Full Name</th>
            <th scope="col">Email</th>
            <th scope="col">Age</th>
            <th scope="col">About</th>
            <th scope="col">View</th>
            <th scope="col">Delete</th>
          </thead>
          <tbody>
            <tr *ngFor="let user of users; let i=index">
              <th scope="row">{{i + 1}}</th>
              <td>{{user.name}}</td>
              <td>{{user.email}}</td>
              <td>{{user.age}}</td>
              <td>{{user.about}}</td>
              <td><a routerLink="/admin/view/{{user.id}}" class="btn btn-sm btn-dark">View</a></td>
              <td class="table-danger"><button type="button" class="btn btn-sm btn-danger" (click)="delete(user.id)">Delete</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

</div>
