<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="row">
        <div class="col-md-12" *ngIf="event.title">
          <h3>{{event.title}}</h3>
          <ul class="products"  style="list-style: none;padding:0;">
            <li class="crop">
              <img src="./../../uploads/event/{{event.image}}" class="img-responsive" />
            </li>
          </ul>
          <div class="clearfix"></div>
          <p class="text-primary">{{event.body}}</p>
          <p class="text-muted">Created At: {{event.createdAt}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
