<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="row">
        <div class="col-md-12" *ngIf="user.name">
          <label for="name" class="form-label">Name:</label> {{user.name}}<br />

          <label for="profile_pic">Upload Your Profile Picture:</label>
          <img src="" alt="Profile Pic"> <br />

          <label for="age">Age: </label>
          {{user.age}} <br />

          <label for="email">Email: </label>
          {{user.email}} <br />

          <label for="about">About Me:</label>
          {{user.about}} <br />
          <label for="gallery">Gallery: <span class="small">(Max of 9)</span> </label>
          <!--foreach url in img --> <img src="" alt="Gallery">
          <br /><br />
          <button type="button"  class="btn btn-lg btn-danger" (click)="delete()">Delete User</button>
        </div>
      </div>
    </div>
  </div>
</div>
