<app-header></app-header>

<div class="container">
  <div class="text-center">
    <h3>The<span class="color"> Designer's</span> Website</h3>
    <p>Looking for a designer? <br /> Look No Further. </p>
  </div>
  <div class="divider-1"></div>
  <div class="block-heading-two text-center">
    <h3><span>Latest News</span></h3>
  </div>
  <div class="row">
    <div *ngFor="let news of news" class="col-md-6">
      <div class="card mb-6 shadow-sm">
        <div class="card-body" style="height:400px;overflow:hidden;" >
          <img src="./../../uploads/news/{{news.image}}" class="img img-responsive"/> <h3 class="card-text">{{news.title}} <a routerLink="/userview/{{news.id}}" class="btn btn-sm btn-color">View</a></h3>
          <p class="card-text">{{news.body}}</p>
        </div>
      </div>
      <br>
    </div>
  </div>
  <!--SECOND NEWS-->
  <div class="row">
    <div *ngFor="let news of news" class="col-md-6">
      <div class="card mb-6 shadow-sm">
        <div class="card-body" style="height:400px;overflow:hidden;" >
          <img src="./../../uploads/news/{{news.image}}" class="img img-responsive"/><h3 class="card-text">{{news.title}} <a routerLink="/userview/{{news.id}}" class="btn btn-sm btn-color">View</a></h3>
          <p class="card-text">{{news.body}}</p>
        </div>
      </div>
      <br>
    </div>
  </div>
  <div class="divider-1"></div>
  <div class="block-heading-two text-center">
    <h3><span>Hottest Events</span></h3>
  </div>
  <div class="row">
    <div *ngFor="let event of events" class="col-md-6">
      <div class="card mb-6 shadow-sm">
        <div class="card-body" style="height:400px;overflow:hidden;">
          <img src="./../../uploads/event/{{event.image}}" class="img img-responsive"/>
          <h3 class="card-text">{{event.title}} <a routerLink="/userevent/{{event.id}}" class="btn btn-sm btn-color">View</a></h3>
          <p class="card-text">{{event.body}}</p>
        </div>
      </div>
      <br>
    </div>
  </div>
  <div class="">
    <img src="./../../assets/img/large.png" class="img img-responsive" />
  </div>


  <div class="block-heading-two text-center">
    <h3><span>Subscribe to our newsletters</span></h3>
  </div>
  <div class="col-md-8 offset-md-2">
    <div class="card bg-warning">
      <div class="card-body">
        <h3><span>The latest design news, jobs, & events.</span> </h3>
        <h4>Straight to your every other week</h4>
        <p>Join over 300,000 designers to stay up-to-date with the IFDA newsletter...</p>
        <div class="subscribe-box">
          <h5 class="bold">Subscribe :</h5>
          <!-- Form -->
          <form (ngSubmit)="onSubscribe()" #subscribe="ngForm">
            <!-- Input Group -->
            <div class="input-group">
              <input type="text" class="form-control" name="sub_email" [(ngModel)]="_sub.email" placeholder="Enter Email Id" required>
              <span class="input-group-btn">
                <button class="btn btn-color" type="submit" [disabled]="!subscribe.form.valid">Subscribe</button>
              </span>
            </div>
            <br />
            <div class="input-group">
              <input type="text" class="form-control" name="sub_email" [(ngModel)]="_sub.name" style="display:inline;width:200px;margin-right:10px;" placeholder="Name" required>
              <input type="text" class="form-control" name="sub_email" [(ngModel)]="_sub.title" style="display:inline;width:200px;margin-right:10px;" placeholder="Title" required>
              <input type="text" class="form-control" name="sub_email" [(ngModel)]="_sub.company" style="display:inline;width:200px;" placeholder="Company" required>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="divider-1"></div>
  <div class="block-heading-two text-center">
    <h3><span>Strategic Partners</span></h3>
  </div>
  <!-- Client One Starts -->
  <br />
    <div class="col-md-10 offset-md-1">
      <div class="client-one">
        <owl-carousel [options]="myCarouselOptions" [items]="images" [carouselClasses]="['owl-theme', 'sliding']" >
          <div class="cl-item" *ngFor="let image of myCarouselImages;let i = index">
            <a href="#"><img src="{{image}}" alt=""  class="img-responsive" /></a>
          </div>
        </owl-carousel>
        <owl-carousel [options]="myCarouselOptions" [items]="images" [carouselClasses]="['owl-theme', 'sliding']" >
          <div class="cl-item" *ngFor="let image of myCarouselImages;let i = index">
            <a href="#"><img src="{{image}}" alt=""  class="img-responsive" /></a>
          </div>
        </owl-carousel>
        <owl-carousel [options]="myCarouselOptions" [items]="images" [carouselClasses]="['owl-theme', 'sliding']" >
          <div class="cl-item" *ngFor="let image of myCarouselImages;let i = index">
            <a href="#"><img src="{{image}}" alt=""  class="img-responsive" /></a>
          </div>
        </owl-carousel>
      </div>
    </div>
</div>
