<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="row">
        <form class="form" (ngSubmit)="onSubmit()" #edit="ngForm">
          <div class="form-group">
            <label for="name" class="form-label">Name:</label>
            <input type="text" class="form-control"
            [(ngModel)]="user.name" name="name" id="name" required/> <br />
          </div>
          <div class="form-group">
            <label for="profile_pic">Upload Your Profile Picture:</label>
            <span style="color: #0D7C15;">
              <label class="btn btn-primary upload-btn" style="background: #0D7C15">
                Upload Picture<input type="file" name="file" hidden (change)="onFileSelected($event)">
              </label>
            </span>
            <button type="button" (click)="onUpload()">Upload</button>
          </div>
          <div class="form-group">
            <label for="age">Age:</label>
            <input type="number" class="form-control" name="age" id="age" [(ngModel)]="user.age" /> <br />
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email"
            name="email" class="form-control"
            [(ngModel)]="user.email" id="email" required/> <br />
          </div>
          <div class="form-group">
            <label for="about">About Me:</label>
            <textarea name="about" class="form-control" rows="8" cols="50" [(ngModel)]="user.about" name="about" required></textarea> <br />
          </div>
          <div  *ngFor="let url of urlsU" >
            <img src="/uploads/{{id}}/{{url}}" class="rounded mb-3" width="180"> <button type="button" class="btn btn-s btn-danger" (click)="removePic(url)" name="button">Remove</button>
          </div>
          <h5>Upload New Gallery Pictures</h5>
          <div  *ngFor="let url of urls" >
            <img [src]="url" class="rounded mb-3" width="180">
          </div>
          <span style="color: #0D7C15;">
            <label class="btn btn-primary upload-btn" style="background: #0D7C15;margin-right: 10px;">
              Upload file<input type="file" name="image[]" hidden multiple (change)="onGallerySelected($event)">
            </label>
          </span>
          <button type="button" class="btn btn-secondary" (click)="onUploadG()">Upload</button>
          <div class="row">
            <div class="col-md-6">
              <button type="submit"  class="btn btn-lg btn-block btn-success" [disabled]="!edit.form.valid">Update Details</button>
            </div>
            <div class="col-md-6">
              <a routerLink="/designer/{{user.id}}"  class="btn btn-lg btn-block btn-danger">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>